.sidenav {
    width: 260px;
}

.sidenav-content {
    min-height: 100vh;
}

.page-container {
    padding: 1.2em;
}

.link {
    text-decoration: none;
}

.footer {
    width: 100%;
    clear: both;
    position: relative;
    height: 4em;
    margin-top: -4em;
}